/.vscode
/db.sqlite3
/venv
scraperproject/local_settings.py
scraperproject/__pycache__
goodreads_scraper/__pycache__
goodreads_scraper/migrations/__pycache__
goodreads_scraper/management/commands/__pycache__



